@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-app="virtualTrainingApp">
    <div class="col-md-2" ng-controller="navigationctrl as nav" ng-show="nav.isauthenticated">
        <ul class="nav nav-list">
            <li ng-repeat="navigationitem in nav.navigationlist"><a ng-href="{{navigationItem.url}}">{{navigationItem.text}}</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <div ng-view=""></div>
    </div>
</div>


@section userScript{
    <script>
        window.userName = "@ViewBag.UserName";
    </script>
}