@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-app="virtualTrainingApp">

    <div class="col-md-2" ng-controller="navigationCtrl as nav" ng-show="nav.isAuthenticated">
        <h1>@ViewBag.UserName</h1>
        
        <ul class="nav nav-list">
            <li ng-repeat="navigationItem in nav.navigationList"><a ng-href="{{navigationItem.url}}">{{navigationItem.text}}</a></li>
        </ul>
    </div>
    <div class="col-md-10">
         <div ng-view=""></div> 

    </div>
</div>


@section userScript{
<script>
    window.userName = "@ViewBag.UserName";
</script>
}